
/target/
**/*.rs.bk
Cargo.lock
.idea/
.vscode/
.DS_Store
/docker/dynamodb/
/config/local.toml

.env.local
/terraform/envs/dev/.terraform/
/terraform/envs/dev/terraform.tfstate
/terraform/envs/dev/terraform.tfstate.backup
/terraform/modules/lambda/.build/
